.card.shadow-lg.p-5.bg-white.rounded
  .text-center
    %h2.font-weight-bold Resend confirmation instructions
  .form-group
    = form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
      = render "devise/shared/error_messages", resource: resource
      .form-group
        = f.label :email
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: 'form-control'
      .form-group
        = f.submit "Resend confirmation instructions", class: 'btn btn-secondary btn-block'
  = render "users/shared/links"