.form-group
  %label
    HTML title:
  = f.text_field :html_title
.form-group
  %label
    Blog title: 
  = f.text_field :blog_title
.form-group
  %label
    Blog HTML title: 
  = f.text_field :blog_html_title
.form-group
  %label
    Forum title: 
  = f.text_field :forum_title
.form-group
  %label
    Forum HTML title: 
  = f.text_field :forum_html_title
.form-group
  .input-group
    .input-group-prepend
      %span.input-group-text SEO description
    = f.text_area :description
.form-group
  .input-group
    .input-group-prepend
      %span.input-group-text SEO keywords (comma separated):
    = f.text_area :keywords
.form-group
  = render_logo(Subdomain.current)
  %label
    Company logo: 
  = f.file_field :logo, required: false
.form-group
  = render_logo(Subdomain.current)
  %label
    Favicon: 
  = f.file_field :favicon, required: false
.form-group
  = render_og_image(Subdomain.current)
  %label
    open-graph image: 
  = f.file_field :og_image, required: false
= f.submit "Save", class: 'btn btn-primary'