.card
  .card-header
    %strong
      Web application metadata
  .card-body
    .form-group
      %label
        HTML title:
      = f.text_field :html_title, class: 'form-control'
    .form-group
      %label
        Blog title: 
      = f.text_field :blog_title, class: 'form-control'
    .form-group
      %label
        Blog HTML title: 
      = f.text_field :blog_html_title, class: 'form-control'
    .form-group
      %label
        Forum title: 
      = f.text_field :forum_title, class: 'form-control'
    .form-group
      %label
        Forum HTML title: 
      = f.text_field :forum_html_title, class: 'form-control'
    .form-group
      %span SEO description
      = f.text_area :description, class: 'form-control'
    .form-group
      %span SEO keywords (comma separated):
      = f.text_area :keywords, class: 'form-control'
    .card
      .card-header
        %strong
          Graphics
      .card-body
        .form-group.card.p-2
          %label
            Company logo: 
          .m-2
            = render_logo(Subdomain.current)
          = f.file_field :logo, required: false, class: 'form-control-file'
        .form-group.card.p-2
          %label
            Favicon: 
          .m-2
            = render_favicon(Subdomain.current)
          = f.file_field :favicon, required: false, class: 'form-control-file'
        .form-group.card.p-2
          %label
            open-graph image: 
          .m-2
            = render_og_image(Subdomain.current)
          = f.file_field :og_image, required: false, class: 'form-control-file'

.card.mt-5
  .card-header
    %strong
      Email metadata
  .card-body
    .form-group
      %label
        Name:
      = f.text_field :email_name, class: 'form-control'
    .form-group
      %label
        Signature: 
      = f.rich_text_area :email_signature, class: 'form-control h-auto'


.card.mt-5
  .card-header
    %strong
      Core Extensions
  .card-body
    .form-group
      = f.check_box :blog_enabled
      %label
        Blog

    .form-group
      = f.check_box :forum_enabled
      %label
        Forum
    .form-group#tracking-checkbox
      = f.check_box :tracking_enabled
      %label
        Tracking
      
      .form-group.consent-text
        = f.label :cookies_consent_ui
        = f.text_area :cookies_consent_ui, data: {'cms-cm-mode' => 'text/html'}
      
      :css
        .consent-text { display: none;}
        #tracking-checkbox > input[type="checkbox"]:checked ~ .consent-text { display: block; }
  
    .form-group
      = f.check_box :ember_enabled
      %label
        Ember.js (experimental)
    .form-group
      = f.check_box :graphql_enabled
      %label
        Graphql (experimental)

    .form-group
      = f.check_box :allow_external_analytics_query
      %label
        Allow external analytics querying (experimental)

    .form-group
      = f.check_box :web_console_enabled
      %label
        Web console (experimental)
    .card
      .card-header
        %strong
          API Extensions
        .card-body
          .card
            .card-header
              .d-inline
                = f.check_box :api_plugin_events_enabled
              %label
                %strong
                  Subdomain Events (subdomain/event v1):


.card.mt-5
  .card-header
    %strong
      Security
  .card-body
    .form-group
      = f.check_box :allow_user_self_signup
      %label
        Allow user self sign up (unchecked: users can join via invite only)
    .form-group
      = f.check_box :forum_is_private
      %label
        Private forum (unchecked: Public forum)
    .card
      .card-header
        %strong
          2 Factor Authentication
        .card-body
          .card
            .card-header
              .d-inline
                = f.check_box :enable_2fa
              %label
                %strong
                  Email

.card.mt-5
  .card-header
    %strong
      Forum Email Notifications
  .card-body
    .form-group
      = f.radio_button :email_notification_strategy, 'user_email', checked: f.object.user_email?
      %label
        Email Notifications via User Email
    .form-group
      = f.radio_button :email_notification_strategy, 'system_email', checked: f.object.system_email?
      %label
        Email Notifications via Subdomain Email

.card.mt-5
  .card-header
    %strong
      Redirections
  .card-body
    .form-group
      %label
        After sign in, redirect users to (relative path, eg: /foo )
      .d-block
        = f.text_field :after_sign_in_path
    .form-group
      %label
        After sign up, redirect users to (relative path)
      .d-block
        = f.text_field :after_sign_up_path

.card.mt-5
  .card-header
    %strong
      Maintenance
  .card-body
    .form-group
      %label
        Purge visitor analytics:
      = f.select :purge_visits_every, options_for_select(Subdomain::TRACKING_PURGE_MAPPING, Subdomain.current.purge_visits_every)
.card.my-5
  .card-header
    %strong
      Reports
  .card-body
    .form-group
      %label
        Analytics report frequency:
      = f.select :analytics_report_frequency, options_for_select(Subdomain::REPORT_FREQUENCY_MAPPING, Subdomain.current.analytics_report_frequency)


= f.submit "Save", class: 'btn btn-primary'

