.page-header  
  .h2
    = I18n.t('views.comfy.web_settings.index.header.title')
= form_for Subdomain.current, url: web_settings_path, method: :patch do |f|
  = render partial: 'form', locals: {f: f}
  

%main{class: 'my-5'}
  %h3 
    Visits
  .card
    = render partial: 'search_filters'
    = render partial: 'pagination'
    .table-responsive
      %table.table.table-bordered
        %thead
          %tr
            %th= sort_link @visits_q, :started_at
            %th= sort_link @visits_q, :ip
            %th= sort_link @visits_q, :os
            %th= sort_link @visits_q, :browser
            %th= sort_link @visits_q, :device_type
            %th= sort_link @visits_q, :country
            %th= sort_link @visits_q, :region
            %th= sort_link @visits_q, :city
            %th= sort_link @visits_q, :referring_domain
            %th= sort_link @visits_q, :landing_page
            %th= sort_link @visits_q, :user_agent
          - @visits.each do |v|
            %tr
              %th= v.started_at.strftime('%I:%M %P - %b %d, %Y')
              %th= v.ip
              %th= v.os
              %th= v.browser
              %th= v.device_type
              %th= v.country
              %th= v.region
              %th= v.city
              %th= v.referring_domain
              %th= v.landing_page
              %th= v.user_agent  
      = render partial: 'pagination'