= form_for @message do |f|
  - if @message.errors.any?
    #error_explanation
      %h2= "#{pluralize(@message.errors.count, "error")} prohibited this message from being saved:"
      %ul
        - @message.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :title
    = f.text_area :title
  .actions
    = f.submit 'Save'
