%h1 Listing messages

%table
  %thead
    %tr
      %th Title
      %th
      %th
      %th

  %tbody
    - @messages.each do |message|
      %tr
        %td= message.title
        %td= link_to 'Show', message
        %td= link_to 'Edit', edit_message_path(message)
        %td= link_to 'Destroy', message, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Message', new_message_path
