%p#notice= notice

%p
  %b Title:
  = @message.title
  %b content:
  = @message.content

  %strong attachments:
  = @message.attachments.each do |attachment|
    %p
      = attachment.blob.filename.to_s 

= link_to 'Edit', edit_message_path(@message)
\|
= link_to 'Back', messages_path
