
= turbo_frame_tag 'api-resources' do
  .digg_pagination.d-sm-flex.justify-content-between.mb-4.pb-3
    .page-info= page_entries_info @api_resources
    .links= will_paginate @api_resources, container: false, renderer: TurboPaginateRenderer
  .table-responsive
    %div.api-resources-table-container
      %table#api-resources-table.table.table-striped.table-bordered
        %thead
          %tr
            %th.px-3= sort_link api_resources_q, :id, {}, data: { turbo: true, turbo_action: 'advance'}
            %th.px-3= sort_link api_resources_q, :created_at, {}, data: { turbo: true, turbo_action: 'advance'}
            %th.px-3= sort_link api_resources_q, :updated_at, {}, data: { turbo: true, turbo_action: 'advance'}
            - dynamic_columns = api_namespace.properties.keys
            - api_namespace.properties.keys.each do |dynamic_column|
              %th.px-3= sort_link api_resources_q, dynamic_column, {}, data: { turbo: true, turbo_action: 'advance'}

        %tbody
          - api_resources.each do |api_resource|
            %tr
              %td.px-3.py-2
                = link_to api_resource.id, api_namespace_resource_path(api_namespace_id: api_resource.api_namespace_id, id: api_resource.id)
                .d-flex.mt-3
                  = link_to edit_api_namespace_resource_path(api_namespace_id: api_resource.api_namespace_id, id: api_resource.id), class: 'mr-3' do 
                    %i.fas.fa-edit
                  = link_to api_namespace_resource_path(api_namespace_id: api_resource.api_namespace_id, id: api_resource.id), remote: true, method: :delete, data: { confirm: 'Are you sure?', page: params[:page], action: "ajax:success->api-resources#reloadTable" } do
                    %i.fas.fa-trash
              %td.px-3.date-col= api_resource.created_at.strftime('%F %T')
              %td.px-3.date-col= api_resource.updated_at.strftime('%F %T')
              - dynamic_columns.each_with_index do |dynamic_column|
                %td.px-3
                  - if api_resource.properties[dynamic_column]&.is_a?(Array)
                    - array = api_resource.properties[dynamic_column]
                    - if array.length > 10
                      = "[#{array.first(2).join(', ')}, ... ,#{array.last(1).join}]"
                      = link_to "View #{dynamic_column}", '#',  class: 'd-block view-dynamic-column', data: { toggle: 'modal', target: "#myModal", namespace_id: api_resource.api_namespace_id, id: api_resource.id, column: dynamic_column , value: "[#{api_resource.properties[dynamic_column].join(', ')}]", action: "click->api-resources#showModal" }
                    - else
                      = array
                  - else
                    - value = api_resource.properties[dynamic_column].to_s
                    - if value && value.length > 100
                      = truncate(value, length: 100)
                      = link_to "View #{dynamic_column}", '#' , class: 'd-block view-dynamic-column', data: { toggle: 'modal', target: "#myModal" , column: dynamic_column, namespace_id: api_resource.api_namespace_id, id: api_resource.id, value: value, action: "click->api-resources#showModal" }
                    - else
                      = value 
   
  .modal.fade#myModal{tabindex: -1, role: "dialog", aria: {labelledby: "myModalLabel", hidden: true}, data: { api_resources_target: 'modal' }}
    .modal-dialog{role: "document"}
      .modal-content
        .modal-header.pb-0
          %h5.modal-title{id: "myModalLabel"} %p#dynamic_column_name
          %button.close{type: "button", data: {dismiss: "modal"}, aria: {label: "Close"}}
            %span{aria: {hidden: true}} &times;
        .modal-body{style: "max-height: calc(100vh - 200px); overflow-y: auto;"}
          %p#modal-id
          %pre#modal-body-content.p-3