%section.vr-analytics-section.vr-analytics-events
  .vr-analytics-section-header
    .d-md-flex.align-items-center
      .vr-analytics-sub-title
        = event_title(event_category)
      - if events_exists
        .d-flex.align-items-center.mt-2.mt-md-0
          .vr-analytics-count
            = events_count 
            = "total #{event_types(event_category)}"
          .vr-analytics-percent-change
            = display_percent_change(events_count, previous_period_events_count)
          .vr-analytics-tooltips{ data: { toggle: "tooltip", placement: "right" }, title: tooltip_content(events_count, previous_period_events_count, params[:interval], @start_date, @end_date) }
            ?

  - if events_exists
    .vr-analytics-section-body.d-flex.align-items-center
      .vr-analytics-events-grid.row.w-100
        - label_grouped_events.each do |key, value|
          .vr-analytics-events-grid-item.col.col-12.col-sm-6.col-md-4.col-lg-3.mb-4
            .d-flex.mr-4.align-items-center.mb-2
              .vr-analytics-count-lg
                = value.size 
              .vr-analytics-percent-change
                = display_percent_change(value.size, previous_label_grouped_events[key].to_i)
              - if previous_label_grouped_events[key].to_i == 0
                .vr-analytics-tooltips{ data: { toggle: "tooltip", placement: "right" }, title: tooltip_content(value.size, 0, params[:interval], @start_date, @end_date) }
                  ?
            = link_to key, dashboard_events_path(ahoy_event_type: value.first), class: 'vr-analytics-event-label'  