= form_for @meeting do |f|
  - if @meeting.errors.any?
    #error_explanation
      %h2= "#{pluralize(@meeting.errors.count, "error")} prohibited this meeting from being saved:"
      %ul
        - @meeting.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :start_time
    = f.datetime_select :start_time
  .field
    = f.label :end_time
    = f.datetime_select :end_time
  .field
    = f.label :participant_emails
    = f.select :participant_emails, options_for_select([]), { include_blank: false }, { multiple: true }
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :timezone
    = f.select :timezone, ActiveSupport::TimeZone::MAPPING
  .field
    = f.label :location
    = f.text_field :location
  .actions
    = f.submit 'Save'

:javascript
  $(document).ready( function() {
    $("#meeting_participant_emails").select2({
      multiple: true,
      required: true,
      tags: true,
      tokenSeparators: [',', ' '],
    })
  });
