<div class="existing-cards">
  <ul class="existing-cards__options">
    <li>
      <% 'use_existing_card_yes'.tap do |id| %>
        <%= label_tag id, class: 'radio-input' do %>
          <%= radio_button_tag(
            'use_existing_card',
            'yes',
            true,
            id: id
          ) %>

          <%= t('spree.use_existing_cc') %>
        <% end %>
      <% end %>
    </li>
    <li>
      <% 'use_existing_card_no'.tap do |id| %>
        <%= label_tag id, class: 'radio-input' do %>
          <%= radio_button_tag(
            'use_existing_card',
            'no',
            false,
            id: id
          ) %>

          <%= t('spree.use_new_cc_or_payment_method') %>
        <% end %>
      <% end %>
    </li>
  </ul>

  <ul class="existing-cards__cards" id="existing_cards">
    <% wallet_payment_sources.each do |wallet_payment_source| %>
      <li id="<%= dom_id(wallet_payment_source, 'spree')%>">
        <%=
          render "checkouts/existing_payment/#{wallet_payment_source.payment_source.payment_method.partial_name}",
            wallet_payment_source: wallet_payment_source,
            default: wallet_payment_source == @default_wallet_payment_source
        %>
      </li>
    <% end %>
  </ul>
</div>
