= form_for @message_thread, url: mailbox_message_threads_path, method: :post do |f|
  .form-group
    %label
      recipients: 
    = f.select :recipients, options_for_select([]), { include_blank: false }, { multiple: true }
  .form-group
    %label
      Subject: 
    = f.text_field :subject, class: 'form-control'
  = render partial: 'messages/form', locals: { f: f }
  = render "comfy/admin/cms/categories/form", form: f
  .my-3
    = f.submit "Send", class: 'btn btn-primary'

:javascript
  $(document).ready( function() {
    $("#message_thread_recipients").select2({
      multiple: true,
      required: true,
      tags: true,
      tokenSeparators: [',', ' '],
    })
  });
