- @message_threads.each do |message_thread|
  = link_to mailbox_message_thread_path(id: message_thread.id), class: 'text-reset text-decoration-none' do
    .card.my-3
      %div{class: message_thread.unread? ? "card-body card-header border-secondary" : "card-body"} 
        .card-title.d-flex.justify-content-between
          = message_thread.subject
          .item-categories
            = render "comfy/admin/cms/categories/categories", object: message_thread
        .card-subtitle.mb-2.text-muted
          %strong
            %span= message_thread.recipients.join(', ')
            - last_message = message_thread.messages.first
          %div
            - if message_thread.messages.any?
              %small= "#{distance_of_time_in_words(Time.now, last_message.created_at)} ago (#{last_message.created_at})"
            - else
              %small= "#{distance_of_time_in_words(Time.now, message_thread.updated_at)} ago (#{message_thread.updated_at})"
        - if message_thread.messages.any?
          %p.card-text.bg-light.p-2{ :style => "white-space: nowrap; text-overflow: ellipsis; overflow-y: hidden;" }
            = render_trix_preview(last_message.content)
= render partial: 'mailbox/mailbox/pagination', locals: { data: @message_threads }