.page-header
  .h2
    = I18n.t('views.message_threads.new.header.title')
= form_for @message_thread, url: mailbox_message_threads_path, method: :post do |f|
  %label
    recipients: 
  = f.text_field :recipients
  %label
    Subject: 
  = f.text_field :subject
  = f.fields_for Message.new do |message_form|
    = message_form.rich_text_area :content
  = f.submit