.page-header
  .h2
    = @message_thread.subject
= form_for @message_thread, url: send_message_mailbox_message_thread_path(id: @message_thread.id), method: :post do |f|
  = render partial: 'messages/form', locals: { f: f }
- @message_thread.messages.each do |message|
  = link_to mailbox_message_thread_message_path(message_thread_id: @message_thread.id, id: message.id), class: 'text-reset text-decoration-none my-3' do
    .card.my-3
      .card-body 
        .card-subtitle.mb-2.text-muted
          = message.from
        .card-text.bg-light.px-2.py-3
          = message.content
        - if message.attachments.any?
          .card-text.bg-dark.px-2.py-3.text-white
            Attachments
            %ul{class: 'list-group'}
              - message.attachments.each do |attachment|
                = link_to attachment.filename, rails_blob_path(attachment, disposition: 'attachment')
