= form_with model: @user, url: admin_user_path, method: :patch do |f|
  .form-group
    %label 
      Name
    = f.text_field :name
    .card.border-0.my-5
      %h4 Permissions

      .card.mt-5
        .card-header
          %strong
            Internal permissions  
        .card-body
          .card
            .card-header 
              .d-inline
                = f.check_box :can_access_admin
                %label
                  %strong 
                    Can access admin panel (required for functions below)
            .card-body
              .form-group
                = f.check_box :can_manage_web
                %label 
                  Can manage website (Layouts, Pages, Snippets)
              .form-group
                = f.check_box :can_manage_analytics
                %label
                  Can manage analytics
              .form-group
                = f.check_box :can_manage_files
                %label
                  Can manage files
              .form-group
                = f.check_box :can_manage_email
                %label 
                  Can manage emailbox
              .form-group
                = f.check_box :can_manage_api
                %label 
                  Can manage API
              .form-group
                = f.check_box :can_manage_blog
                %label 
                  Can manage Blog
          .card.my-5
            .card-header 
              %strong
                Analytics, Compliance and Management Permissions 
            .card-body
              .form-group
                = f.check_box :deliver_analytics_report
                %label 
                  Deliver Analytics Report
              .form-group
                = f.check_box :deliver_error_notifications
                %label 
                  Deliver error notifications                  
              .form-group
                = f.check_box :can_manage_users
                %label 
                  Can manage and invite users
              .form-group
                = f.check_box :can_manage_subdomain_settings
                %label 
                  Can manage subdomain
      .card.mt-5
        .card-header
          %strong
            External permissions  
        .card-body
          .card
            .card-header 
              %strong
                Content permissions 
            .card-body
              .form-group
                = f.check_box :can_view_restricted_pages
                %label 
                  Can view restricted web pages
              .form-group
                = f.check_box :moderator
                %label 
                  Can manage forum
  = f.submit "Update", class: 'btn btn-success'
  - unless @user.is_last_admin?
    - confirm_message = "Are you sure you want to remove this user? This cannot be undone."
    - if @user.forum_threads.present? || @user.forum_posts.present?
      - confirm_message += "\n\n Note: Deleting this user will affect its associated #{@user.forum_threads.size} forum-threads, #{@user.forum_posts.size} forum-posts and #{@user.events.size} analytics events and will show 'user deleted'."
    = link_to "Remove", admin_user_path(id: @user.id), method: :delete, class: 'btn btn-sm btn-danger', data: { confirm: confirm_message.html_safe }   