= search_form_for @users_q, url: admin_users_path do |f|
  .form-group
    = f.label "name", class: 'col-form-label'
    = f.search_field :name_cont, value: params[:q][:name_cont], class: 'form-control'
    = f.label "email", class: 'col-form-label'
    = f.search_field :email_cont, value: params[:q][:email_cont], class: 'form-control'
    .text-center
      = f.submit class: 'btn btn-primary my-2'
      = link_to "Clear Search", request.path, class:"cancel-button"