.page-header
  .h2
    = @user.email
  .form-group.my-5
    
    = form_with model: @user, url: admin_user_path, method: :patch do |f|
      .form-group
        %label 
          Name
        = f.text_field :name
        .card.border-0.my-5
          %h4 Permissions
          .p-3.my-2.border
            .my-3
              %strong
                Web Stack       
            .form-group
              = f.check_box :can_manage_web
              %label 
                Can manage website
            .form-group
              = f.check_box :can_manage_api
              %label 
                Can manage api
            .form-group
              = f.check_box :can_view_restricted_pages
              %label 
                Can view restricted web pages
            .form-group
              = f.check_box :can_manage_blog
              %label 
                Can manage blog
            .form-group
              = f.check_box :deliver_analytics_report
              %label 
                Deliver Analytics Report
            .my-3
              %strong
                Community  
            .form-group
              = f.check_box :moderator
              %label 
                Can manage forum
            .form-group
              = f.check_box :can_manage_email
              %label 
                Can manage emailbox
            .form-group
              = f.check_box :can_manage_users
              %label 
                Can manage and invite users
      = f.submit "Update", class: 'btn btn-success'
      = link_to "Remove", admin_user_path(id: @user.id), method: :delete, class: 'btn btn-sm btn-danger', data: { confirm: 'Are you sure you want to remove this user? This cannot be undone' }
  %hr/
  %main{class: 'my-5'}
    %h3 
      Stats
    .card
      %ul.list-group.list-group-flush
        %li.list-group-item
          sign ins:
          = @user.sign_in_count
        %li.list-group-item
          current sign in:
          = @user.current_sign_in_at
        %li.list-group-item
          last sign in:
          = @user.last_sign_in_at
        %li.list-group-item
          current session IP:
          = @user.current_sign_in_ip
        %li.list-group-item
          last session IP:
          = @user.last_sign_in_ip
        %li.list-group-item
          created at:
          = local_time(@user.created_at)
        %li.list-group-item
          updated at:
          = local_time(@user.created_at)
        %li.list-group-item
          confirmed at:
          = @user.confirmed_at
        %li.list-group-item
          confirmation sent at:
          = @user.confirmation_sent_at
        %li.list-group-item
          locked at:
          = @user.locked_at

  %main{class: 'my-5'}
    %h3 
      Sessions
    .card
      = render partial: 'pagination', locals: { objects: @visits }
      .table-responsive
        %table.table.table-bordered
          %thead
            %tr
              %th 
                = sort_link @visits_q, :timestamp
              %th
                = sort_link @visits_q, :ip
              %th
                = sort_link @visits_q, :os
              %th 
                = sort_link @visits_q, :browser
              %th 
                = sort_link @visits_q, :device_type
              %th 
                = sort_link @visits_q, :country
              %th 
                = sort_link @visits_q, :region
              %th 
                = sort_link @visits_q, :city
              %th 
                = sort_link @visits_q, :user_agent
            - @visits.each do |v|
              %tr
                %th= v.started_at.strftime('%I:%M %P - %b %d, %Y')
                %th= v.ip
                %th= v.os
                %th= v.browser
                %th= v.device_type
                %th= v.country
                %th= v.region
                %th= v.city
                %th.text-wrap.text-break= v.user_agent  
      = render partial: 'pagination', locals: { objects: @visits }

