.page-header
  = link_to I18n.t('views.comfy.users.index.header.action'), new_admin_user_path, class: 'btn btn-secondary float-right'
  .h2
    = I18n.t('views.comfy.users.index.header.title')
  = render partial: 'search_filters'
  = render partial: 'pagination', locals: { objects: @users }
  %table.table.table-responsive
    %thead
      %tr
        %th{:scope => "col"}
          = sort_link @users_q, :email
        %th{:scope => "col"}
          = sort_link @users_q, :name
        %th{:scope => "col"}
          = sort_link @users_q, :can_manage_web
        %th{:scope => "col"}
          = sort_link @users_q, :can_manage_analytics
        %th{:scope => "col"}
          = sort_link @users_q, :can_manage_files
        %th{:scope => "col"}
          = sort_link @users_q, :can_manage_email
        %th{:scope => "col"}
          = sort_link @users_q, :can_manage_users
        %th{:scope => "col"}
          = sort_link @users_q, :can_manage_blog
        %th{:scope => "col"}
          = sort_link @users_q, :can_manage_api
        %th{:scope => "col"}
          = sort_link @users_q, :can_manage_subdomain_settings, 'Can manage app settings'
        %th{:scope => "col"}
          = sort_link @users_q, :can_view_restricted_pages
        %th{:scope => "col"}
          = sort_link @users_q, :can_manage_forum
        %th{:scope => "col"}
          = sort_link @users_q, :current_sign_in_at
        %th{:scope => "col"}
          = sort_link @users_q, :last_sign_in_at
    - @users.each do |user|
      %tr
        %td= link_to user.email, edit_admin_user_path(id: user.id)
        %td= user.name
        %td= user.can_manage_web
        %td= user.can_manage_analytics
        %td= user.can_manage_files
        %td= user.can_manage_email
        %td= user.can_manage_users
        %td= user.can_manage_blog
        %td= user.can_manage_api
        %td= user.can_manage_subdomain_settings
        %td= user.can_view_restricted_pages
        %td= user.moderator
        %td= user.current_sign_in_at
        %td= user.last_sign_in_at
  = render partial: 'pagination', locals: { objects: @users }
