.page-header
  = link_to I18n.t('views.comfy.users.index.header.action'), new_admin_user_path, class: 'btn btn-secondary float-right'
  .h2
    = I18n.t('views.comfy.users.index.header.title')
  = render partial: 'search_filters'
  = render partial: 'pagination'
  %table.table.table-responsive
    %thead
      %tr
        %th{:scope => "col"}
          = sort_link @users_q, :email
        %th{:scope => "col"}
          = sort_link @users_q, :name
        %th{:scope => "col"}
          = sort_link @users_q, :current_sign_in_at
        %th{:scope => "col"}
          = sort_link @users_q, :last_sign_in_at
        %th{:scope => "col"}
    - @users.each do |user|
      %tr
        %td= link_to user.email, edit_admin_user_path(id: user.id)
        %td= user.name
        %td= user.current_sign_in_at
        %td= user.last_sign_in_at
  = render partial: 'pagination'
