.card.shadow-lg.p-5.bg-white.rounded
  .text-center
    %h3.font-weight-bold Log In
  .form-group
    = form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: false}) do |f|
      .form-group
        = f.label :email
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control'
      .form-group
        = f.label :password
        %br/
        = f.password_field :password, autocomplete: "current-password", class: 'form-control'
      - if devise_mapping.rememberable?
        .form-group
          .form-check
            = f.check_box :remember_me, class: 'form-check-input'
            = f.label :remember_me
      .form-group
        = f.submit "Log in", class: 'btn btn-primary btn-block'
  = render "devise/shared/links"