= comfy_admin_partial "comfy/admin/cms/partials/navigation_before"

%nav.navbar.navbar-expand-lg
  %button.navbar-toggler{type: "button", data: {toggle:"collapse", target: "#leftnav"}, aria: {controls: "navbarSupportedContent", expanded: "false", label: "Toggle navigation"}}
    %i.fas.fa-bars

  #leftnav.navbar-collapse.collapse

    %ul.nav.nav-pills
      %li.nav-item
        = active_link_to comfy_admin_cms_sites_path, class: "nav-link", active: ['comfy/admin/cms/sites'] do
          = t('comfy.admin.cms.base.sites')

      - if @site && !@site.new_record?
        %li{class: 'nav-item'}
          %li.nav-item.dropdown
            %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              = "App Management"
            .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
              = active_link_to comfy_admin_cms_site_layouts_path(@site), class: "dropdown-item" do
                = t('comfy.admin.cms.base.layouts')
              = active_link_to comfy_admin_cms_site_pages_path(@site), class: "dropdown-item" do
                = t('comfy.admin.cms.base.pages')
              = active_link_to comfy_admin_cms_site_snippets_path(@site), class: "dropdown-item" do
                = t('comfy.admin.cms.base.snippets')
              = active_link_to comfy_admin_cms_site_files_path(@site), class: "dropdown-item" do
                = t('comfy.admin.cms.base.files')
              = active_link_to edit_web_settings_path, class: 'dropdown-item' do
                = "App Settings"


      = cms_hook :navigation

      = comfy_admin_partial "comfy/admin/cms/partials/navigation_inner"

= comfy_admin_partial "comfy/admin/cms/partials/navigation_after"

.left-footer
  = link_to 'ComfortableMexicanSofa', 'https://github.com/comfy', target: '_blank'
  %span.version= ComfortableMexicanSofa::VERSION