= search_form_for @message_threads_q, url: mailbox_path do |f|
  .form-group
    = f.label "email body, subject or email address (sender)", class: 'col-form-label'
    = f.search_field :messages_content_body_or_subject_or_messages_from_cont, value: params[:q][:messages_content_body_or_subject_or_messages_from_cont], class: 'form-control'
    .text-center
      = f.submit class: 'btn btn-primary my-2'
      = link_to "Clear Search", request.path, class:"cancel-button"