- content_for :right_column do
  = render "comfy/admin/cms/categories/index", type: "MessageThread"

.page-header
  = link_to I18n.t('views.mailbox.index.header.actions.new'), new_mailbox_message_thread_path, class: 'btn btn-success float-right mx-1'
  = link_to 'Email Templates', new_mailbox_email_template_path, class: 'btn btn-secondary float-right mx-1'
  .h2
    = I18n.t('views.mailbox.index.header.title')
    = Subdomain.current.mailing_address
= render partial: 'mailbox/mailbox/search_filters'
= render partial: 'mailbox/mailbox/pagination', locals: { data: @message_threads }
= render partial: 'mailbox/message_threads/index', locals: { data: @message_threads }
