= search_form_for objects, url: path, remote: true, html: { id: 'search-form', class: 'api_resources_search_form' } do |f|
  .form-group
    = f.label "Search by properties", class: 'col-form-label'
    .search-box
      = f.search_field :properties_cont, value: params[:q][:properties_cont], class: 'form-control', placeholder: 'Enter the value of properties'
      .search-action
        = f.submit "Search", class: 'btn btn-primary my-2', data: { disable_with: "Searching..." }
        = link_to request.path, class: "cancel-button", remote: true, data: { disable_with: "Clearing..." } do
          -# %i.far.fa-times-circle
          Clear Search
  .form-group.mt-5.d-flex.justify-content-between 
    .label Filter by date:
    .d-flex 
      = f.hidden_field :start_date, value: params[:start_date]
      = f.hidden_field :end_date, value: params[:end_date]
      #created-at-filter.mr-3 Created at
      #updated-at-filter Updated at

:javascript
  $('#search-form').submit(function(event) {
    event.preventDefault();
    $.ajax({
      url: $(this).attr('action'),
      data: $(this).serialize(),
      type: 'GET',
      success: function(response) {
        $('.digg_pagination').html($(response).find('.digg_pagination').html());
        $('#api-resources-table').html($(response).find('#api-resources-table').html());
      },
      error: function(xhr, status, error) {
        // Handle the error
        console.log(xhr.responseText);
      },
      complete: function() {
      }
    });
  });

  $(document).on("click", ".cancel-button", function(event) {
    event.preventDefault();
    $.ajax({
      url: window.location.href.split('?')[0],
      type: 'GET',
      success: function(response) {
        $('.digg_pagination').html($(response).find('.digg_pagination').html());
        $('#search-form input[type="search"]').val('');
        $('#api-resources-table').html($(response).find('#api-resources-table').html());
      },
      error: function(xhr, status, error) {
        // Handle the error
        console.log(xhr.responseText);
      }
    });
  });