%p#notice= notice

%p
  %b Api namespace:
  = @api_resource.api_namespace.name
%p
  %b Resource Id:
  = @api_resource.id
= render 'comfy/admin/api_namespaces/editor', {api_resource: @api_resource, form_properties: @api_resource.api_namespace&.api_form&.properties&.symbolize_keys, read_only: true}

.my-3
  %b.mb-2.d-block Associations
  - @api_resource.api_namespace.associations.each do |association|
    .m-3.d-flex
      %div.mr-3
        = association['type'] == 'has_many' ? "#{association['namespace']}:" : "#{association['namespace'].singularize}:"
      %div
        - if association['type'] == 'has_many'
          = link_to association['namespace'], api_namespace_path(id: association['namespace'], q: {properties_cont: "\"#{@api_resource.api_namespace.slug.underscore.singularize}_id\": #{@api_resource.api_namespace.id}"})
        - else
          - associated_resource = @api_resource.send(association['namespace'].underscore.singularize.to_sym)
          = link_to associated_resource.id, api_namespace_resource_path(api_namespace_id: associated_resource.api_namespace.id, id: associated_resource.id) if associated_resource.present?

- user = @api_resource.tracked_user
- if user
  %p 
    %b Submitted by User:
    .ml-5
      %p 
        %b User Id:
        = link_to user.id, edit_admin_user_path(id: user.id)
      %p
        %b Email:
        = user.email
      %p
        %b Name:
        = user.name


%p
  - visit = @api_resource.tracked_event&.visit
  - if visit
    %b Visit:
    = link_to visit.started_at.strftime('%I:%M %P - %b %d, %Y'), dashboard_visits_path(ahoy_visit_id: visit.id) if visit

.my-3
  = link_to 'API Actions', api_namespace_api_actions_path(api_namespace_id: @api_resource.api_namespace_id, 'q[api_resource_id_eq]': @api_resource.id)

.my-5
  = link_to 'Destroy', api_namespace_resource_path(api_namespace_id: @api_resource.api_namespace_id, id: @api_resource.id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'

= link_to 'Edit', edit_api_namespace_resource_path(api_namespace_id: @api_resource.api_namespace_id, id: @api_resource.id)
\|
<button class="btn btn-link p-0" onclick="window.history.back()">Back</button>
