%p#notice= notice

%p
  %b Api namespace:
  = @api_resource.api_namespace.name
%p
  %b Resource Id:
  = @api_resource.id
= render 'comfy/admin/api_namespaces/editor', {api_resource: @api_resource, form_properties: @api_resource.api_namespace&.api_form&.properties&.symbolize_keys, read_only: true}
= render 'comfy/admin/api_namespaces/init_editor', {read_only: true}

%p
  %b Current User:
  = @api_resource.tracked_user&.name || @api_resource.tracked_user&.email

%p
  %b Current Visit:
  - visit = @api_resource.tracked_event&.visit
  = link_to visit.started_at.strftime('%I:%M %P - %b %d, %Y'), dashboard_visits_path(ahoy_visit_id: visit.id) if visit

.my-3
  = link_to 'API Actions', api_namespace_api_actions_path(api_namespace_id: @api_resource.api_namespace_id, 'q[api_resource_id_eq]': @api_resource.id)

.my-5
  = link_to 'Destroy', api_namespace_resource_path(api_namespace_id: @api_resource.api_namespace_id, id: @api_resource.id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'

= link_to 'Edit', edit_api_namespace_resource_path(api_namespace_id: @api_resource.api_namespace_id, id: @api_resource.id)
\|
<button class="btn btn-link p-0" onclick="window.history.back()">Back</button>
