%p#notice= notice

%p
  %b Api namespace:
  = @api_resource.api_namespace.name
%p
  %b Properties:
  = @api_resource.properties

= link_to 'Edit', edit_api_namespace_resource_path(api_namespace_id: @api_resource.api_namespace_id, id: @api_resource.id)
\|
= link_to 'Back', api_namespace_resources_path
