%p#notice= notice

%p
  %b Api namespace:
  = @api_resource.api_namespace.name
%p
  %b Properties:
  = @api_resource.properties

.mb-3
  %b.mb-2.d-block Non-primitive Properties
  - @api_resource.non_primitive_properties.each do |prop|
    .d-flex.mb-3
      .mr-4
        = "#{prop.label}:"
      %div
        - if prop.file?
          = show_file(prop.attachment)
        - else
          %div
            = render html: prop.content.to_s.html_safe

= link_to 'Edit', edit_api_namespace_resource_path(api_namespace_id: @api_resource.api_namespace_id, id: @api_resource.id)
\|
= link_to 'Back', api_namespace_resources_path
