<div class="payment-info">
  <h3 class="payment-info__title">
    <%= t('spree.payment_information') %>
  </h3>

  <%= link_to(
    "[#{t('spree.actions.edit')}]",
    checkout_state_path(:payment),
    { class: 'payment-info__edit' }
  ) unless @order.completed? %>

  <% order.payments.valid.each do |payment| %>
    <% source = payment.source %>

    <% if source.is_a?(Spree::CreditCard) %>
      <ul class="payment-info__info">
        <li>
          <% if source.last_digits %>
            <%= t('spree.ending_in') %> <%= source.last_digits %>
          <% end %>
        </li>
        <li><%= source.name %></li>
      </ul>
    <% elsif source.is_a?(Spree::StoreCredit) %>
      <%= content_tag(:p, payment.payment_method.name) %>:
      <%= content_tag(:p, payment.display_amount) %>
    <% else %>
      <%= content_tag(:p, payment.payment_method.name) %>
    <% end %>
  <% end %>
</div>
