<div class="order-page">
  <h1 class="order-page__title">
    <%= accurate_title %>
  </h1>

  <% if order_just_completed?(@order) %>
    <p class="order-page__completed">
      <%= t('spree.thank_you_for_your_order') %>
    </p>
  <% end %>

  <fieldset class="order-page__info" id="order_summary">
    <legend>
      <%= t('spree.order_number', number: @order.number) %>
    </legend>

    <%= render 'order_details', order: @order %>
  </fieldset>

  <div class="order-page__actions">
    <%= link_to t('spree.back_to_store'), root_path, class: "button" %>

    <% unless order_just_completed?(@order) %>
      <% if spree_current_user && respond_to?(:account_path) %>
        <%= link_to t('spree.my_account'), account_path, class: "button" %>
      <% end %>
    <% end %>
  </div>
</div>
