.card
  = render partial: 'wizards/progress'
  .card-header  
    = render partial: 'wizards/header', locals: { heading: I18n.t('views.signup_wizard.sign_up.title') }
  .card-body
    %h5
      = I18n.t('views.signup_wizard.sign_up.body.title')
    = form_for @subdomain_request, url: signup_wizard_path(subdomain_request_id: @subdomain_request.slug), method: :put do |f|
      .input-group.my-5
        = f.email_field :email, placeholder: 'john@appleseed.com', required: true
      = render partial: 'wizards/errors', locals: { f: f }
      .my-2
        = recaptcha_tags callback: 'ctaSuccessHandler'
      .input-group.text-center
        = f.submit I18n.t('views.signup_wizard.subdomain_name.buttons.next'), class: 'btn btn-primary btn-lg', disabled: true
  .card-footer
    .float-left
      = link_to I18n.t('views.signup_wizard.subdomain_name.buttons.previous'), previous_wizard_path(subdomain_request_id: @subdomain_request.slug), class: 'btn btn-sm btn-info'