.card.form-container.font-size-sm.position-relative.p-3.mb-4{id: "api_action_form_#{type}_#{index}", style: "font-size: 13px; border-color: #3883fa"}
  - if has_access_to_api_accessibility?(ApiNamespace::API_ACCESSIBILITIES[:full_access_for_api_actions_only], current_user, @api_namespace)
    .position-absolute{style: "top: 6px; right: 6px"}
      %a.text-danger{style: "cursor: pointer;", onclick: "removeForm('api_action_form_#{type}_#{index}', 'api_action_form_destroy_field_#{type}_#{index}')", 'data-action-workflow': 'remove-api-action'}
        %i.fas.fa-times
  .row
    .form-group.col-12
      = label_tag "Action"
      = select_tag "api_namespace[#{type}_attributes][#{index}][action_type]", options_for_select(ApiAction.action_types.keys, resource.action_type), { class: "form-control form-control-sm", id: "action_type_field_#{type}_#{index}", onchange: "toggleApiActionFields('#{index}', '#{type}');"}
      .extra-details{ style: "#{'display: none' unless (resource.send_email? || resource.send_web_request? || (resource.redirect? && resource.dynamic_url?) || resource.custom_action?)}"}
        .form-group.my-2
          .d-block
            %strong Top-Level Model Attributes: 
            .d-block
              = @api_namespace&.properties&.keys
        - last_instance = @api_namespace&.api_resources&.last
        - if last_instance
          .form-group
            .d-block
              %strong Last API Resource Instance Attributes: 
              .d-block
                = last_instance.properties.keys

        .mt-2.send-email-guide{ style: "#{ 'display: none' unless resource.send_email? }"}
          .d-block
            %strong
              Dynamic Fields:
            Email address, Subject, Custom Message
          .d-block
            %strong
              Available Variables:
            api_resource, current_user, current_visit
          .d-block
            %strong
              Dynamic:
            %li
              Email address:
              %code
                \\#{api_resource.properties['your_custom_attribute_here']}
            %li
              Subject:
              %code
                \\#{api_resource.properties['your_custom_attribute_here']} welcome! 
            %li
              Custom Message:
              %code
                \We can help you with \#{api_resource.properties['your_custom_attribute_here']} ! 

        .mt-2.send-web-request-guide{ style: "#{ 'display: none' unless resource.send_web_request? }"}
          .d-block
            %strong
              Dynamic Fields:
            Request Url, Request Body, Headers
          .d-block
            %strong
              Available Variables:
            api_resource, current_user, current_visit
          .d-block
            %strong
              Dynamic:
            %li
              Request Url:
              %code
                \www.example.com/\#{api_resource.api_namespace.metadata["my_custom_attribute"]}
            %li
              Request Body and Headers:
              %code
                \\#{current_user.email}, \#{current_visit.browser}

        .mt-2.redirect-field-guide{ style: "#{'display: none' unless (resource.redirect? && resource.dynamic_url?)}"}
          .d-block
            %strong
              Dynamic Fields:
            Redirect url
          .d-block
            %strong
              Available Variables:
            api_resource, current_user, current_visit, rails-route-helpers (example: comfy_admin_cms_path)
          .d-block
            Dynamic:
            %code
              \\#{ api_resource.properties['your_custom_attribute_here'] == 'true' ? comfy_admin_cms_path : some_other_path }

        .mt-2.custom-action-field-guide{ style: "#{ 'display: none' unless resource.custom_action? }"}
          .d-block
            %strong
              Dynamic Fields:
            Method definition
          .d-block
            %strong
              Available Variables:
            api_resource, api_action, api_namespace, current_user, current_visit
          .d-block
            Dynamic:
            %li
              %code
                api_resource.to_json
            %li
              %code
                return api_resource.properties['your_custom_attribute_here']
            %li
              %code
                User.invite!(email: api_resource.properties['your_custom_attribute_here'])

    .send_email.col-12{style: "#{'display:none' unless resource.action_type == 'send_email'}", id: "send_email_fields_#{type}_#{index}"}
      .form-group
        -# this is how we allow the user to unselect the selected checkbox. Using jquery and this hidden field to set the value to false if unchecked
        = hidden_field_tag "api_namespace[#{type}_attributes][#{index}][include_api_resource_data]", false
        = label_tag 'Include Api Resource Data'
        = check_box_tag "api_namespace[#{type}_attributes][#{index}][include_api_resource_data]", resource.include_api_resource_data , resource.include_api_resource_data, onClick: "$(this).attr('value', this.checked ? 1 : 0)"
      .form-group
        = label_tag 'Email Address'
        = text_field_tag "api_namespace[#{type}_attributes][#{index}][email]", resource.email, { class: "form-control form-control-sm" }

      .form-group
        = label_tag 'Subject'
        =  text_field_tag "api_namespace[#{type}_attributes][#{index}][email_subject]", resource.email_subject, { class: "form-control form-control-sm" }

      .form-group
        = label_tag 'Custom Message'
        = rich_text_area_tag "api_namespace[#{type}_attributes][#{index}][custom_message]", resource.custom_message, { class: "form-control form-control-sm h-auto" }


    .redirect.col-12{style: "#{'display:none' unless resource.action_type == 'redirect'}", id: "redirect_fields_#{type}_#{index}"}
      .form-group
        = label_tag 'Redirect Type', nil, class: 'd-block'
        = label_tag "api_namespace[#{type}_attributes][#{index}][redirect_type]", 'cms_page'
        = radio_button_tag "api_namespace[#{type}_attributes][#{index}][redirect_type]", 'cms_page', resource.cms_page?
        = label_tag "api_namespace[#{type}_attributes][#{index}][redirect_type]", 'dynamic_url'
        = radio_button_tag "api_namespace[#{type}_attributes][#{index}][redirect_type]", 'dynamic_url', resource.dynamic_url?

      .form-group
        = label_tag 'Redirect Url'
        -# Parent: <span> is used beacause select2 adds other adjacent elements as well.
        %span.select-field{style: "#{'display:none' if resource.cms_page?}"}
          = select_tag "api_namespace[#{type}_attributes][#{index}][redirect_url]", options_for_select((system_paths << resource.redirect_url).uniq), {class: "form-control form-control-sm path_select", default_value: resource.redirect_url}
        = text_field_tag "api_namespace[#{type}_attributes][#{index}][redirect_url]", resource.redirect_url, { class: "form-control form-control-sm", style: "#{'display:none' if resource.dynamic_url?}" }

    .serve_file.col-12{style: "#{'display:none' unless resource.action_type == 'serve_file'}", id: "serve_file_fields_#{type}_#{index}"}
      .form-group
        = label_tag 'File snippet'
        = text_field_tag "api_namespace[#{type}_attributes][#{index}][file_snippet]", resource.file_snippet, { class: "form-control form-control-sm", placeholder: "{{ cms:file_link 2 }}" }

    .serve_web_request.col-12{style: "#{'display:none' unless resource.action_type == 'send_web_request'}", id: "serve_web_request_fields_#{type}_#{index}"}
      .form-group
        = label_tag 'Request Url'
        = text_field_tag "api_namespace[#{type}_attributes][#{index}][request_url]", resource.request_url, { class: "form-control form-control-sm" }

      .form-group
        = label_tag 'HTTP method'
        = select_tag "api_namespace[#{type}_attributes][#{index}][http_method]", options_for_select(ApiAction::HTTP_METHODS, resource.http_method), { class: "form-control form-control-sm"}
        
      .form-group
        = label_tag 'Request body'
        .js-jsoneditor{id: "payload_mapping_#{type}_#{index}-editor", 'data-field-id': "api_namespace_#{type}_attributes_#{index}_payload_mapping"}
        = hidden_field_tag "api_namespace[#{type}_attributes][#{index}][payload_mapping]", resource.payload_mapping ? resource.payload_mapping.to_json : nil

      .form-group
        = label_tag 'Headers'
        .js-jsoneditor{id: "custom_headers_#{type}_#{index}-editor", 'data-field-id': "api_namespace_#{type}_attributes_#{index}_custom_headers"}
        = hidden_field_tag "api_namespace[#{type}_attributes][#{index}][custom_headers]", resource.custom_headers ? resource.custom_headers.to_json : nil

      .form-group
        = label_tag 'Bearer Token'
        = text_field_tag "api_namespace[#{type}_attributes][#{index}][bearer_token]", resource.bearer_token, { class: "form-control form-control-sm" }
    .custom_action.col-12{style: "#{'display:none' unless resource.action_type == 'custom_action'}", id: "custom_action_fields_#{type}_#{index}"}
      .form-group
        = label_tag 'Method Definition'
        = text_area_tag "api_namespace[#{type}_attributes][#{index}][method_definition]", resource.method_definition, { class: "form-control form-control-sm" }


  = hidden_field_tag "api_namespace[#{type}_attributes][#{index}][_destroy]", false ,{id: "api_action_form_destroy_field_#{type}_#{index}"}
  = hidden_field_tag "api_namespace[#{type}_attributes][#{index}][position]", index ,{class: "position_field"}

:javascript

  #{type}_#{index}_initializeJsonEditor("payload_mapping_#{type}_#{index}-editor", "api_namespace_#{type}_attributes_#{index}_payload_mapping")
  #{type}_#{index}_initializeJsonEditor("custom_headers_#{type}_#{index}-editor", "api_namespace_#{type}_attributes_#{index}_custom_headers")


  $(document).ready( function() {
    $(".path_select").select2({
      multiple: false,
      required: true,
      tags: true
    })
    $('.path_select').each(function() {
      $(this).val($(this).attr('default_value')).change();
    })

    $("input[type='radio'][name='api_namespace[#{type}_attributes][#{index}][redirect_type]']").on('click', function () {
      toggleRedirectInputField(this);
      toggleDynamicRedirectUrlGuide(this);
    })

    $("input[type='radio'][name='api_namespace[#{type}_attributes][#{index}][redirect_type]']").each(function () {
      toggleRedirectInputField(this);
    })
  });

  function toggleRedirectInputField(element) {
    const targetFormGroup = $(element).parent().next();
    if ($(element).val() == 'cms_page' && $(element).is(':checked')) {
      targetFormGroup.find('span.select-field').show();
      targetFormGroup.find('input[type="text"]').hide();
      // Disabling text field otherwise it's value will override the select field's value
      targetFormGroup.find('input[type="text"]').attr('disabled', true);
    } else if ($(element).val() == 'dynamic_url' && $(element).is(':checked')) {
      targetFormGroup.find('span.select-field').hide();
      targetFormGroup.find('input[type="text"]').show();
      targetFormGroup.find('input[type="text"]').attr('disabled', false);
    }
  }

  function toggleDynamicRedirectUrlGuide(element) {
    const extraDetailsContainer = $(element).parents('.card').find('.extra-details');
    if ($(element).val() == 'cms_page' && $(element).is(':checked')) {
      manageRelatedExtraDetails(element, '.redirect-field-guide', false);
    } else if ($(element).val() == 'dynamic_url' && $(element).is(':checked')) {
      manageRelatedExtraDetails(element, '.redirect-field-guide');
    }
  }

  function #{type}_#{index}_initializeJsonEditor(containerId, fieldId) {
    const container = document.getElementById(containerId)
    const options = {onChange: () => { setFields() } }
    const editor = new JSONEditor(container, options)

    const initialJson = {}
    editor.set(initialJson)

    let existingValue = $('#' + fieldId).val()

    if (existingValue) {
        let json = JSON.parse(existingValue)
        editor.set(json)
    } else {
        setFields()
    }

    function setFields() {
        let str = JSON.stringify(editor.get())
        $('#' + fieldId).val(str)
    }

    const updatedJson = editor.get()
  }

