.card.p-3.my-3
  .row
    .col-6.d-flex
      .mr-3
        Action:
      = action.action_type
    - if action.action_type == 'send_web_request'
      .col-6.d-flex.mb-3
        .mr-3
          Request Url:
        = action.request_url
      .col-6.d-flex
        .mr-3
          Payload: 
        = action.payload_mapping
      .col-6.d-flex
        .mr-3
          Bearer Token: 
        = action.bearer_token

    - if action.action_type == 'redirect'
      .col-6.d-flex.mb-3
        .mr-3
          Redirect Url:
        = action.redirect_url
    - if action.action_type == 'send_email'
      .col-6.d-flex.mb-3
        .mr-3
          Email:
        = action.email
      .col-6.d-flex.mb-3
        .mr-3
          Custom message:
        = action.custom_message
      .col-6.d-flex.mb-3
        .mr-3
          Include resource:
        = action.include_api_resource_data || 'false'

    - if action.action_type == 'serve_file'
      .col-6.d-flex.mb-3
        .mr-3
          File snippet:
        = action.file_snippet
      .col-12.d-flex.mb-3
        .mr-3
          Url:
        - url = rails_blob_url(Comfy::Cms::File.find(file_id_from_snippet(action.file_snippet)).attachment)
        = link_to url, url

    - if action.api_resource.present?
      .col-6.d-flex.mb-3
        .mr-3
          Lifecycle stage:
        %b{style: "color: #{map_color(action.lifecycle_stage)}"}
          = action.lifecycle_stage
      .col-6.d-flex.mb-3
        .mr-3
          Lifecycle Message:
        = action.lifecycle_message
    