.page-header.mb-5
  .h2
    = @api_namespace.name.pluralize
    > API Actions
    > Workflow

= form_for @api_namespace, html: {multipart: true} do |f|
  = hidden_field_tag 'source', 'action_workflow'
  - if @api_namespace.errors.any?
    #error_explanation
      %h2= "#{pluralize(@api_namespace.errors.count, "error")} prohibited this api_namespace from being saved:"
      %ul
        - @api_namespace.errors.full_messages.each do |message|
          %li= message
  .api_actions.my-4
    - ApiAction.children.each do |subclass|
      .mb-5
        .h5.mb-3
          Trigger Event: 
          = subclass.split('_api_actions').first
        .form-group{id: "#{subclass}_forms", class: "js-sortable"}
          = f.fields_for subclass, @api_namespace.send(subclass) do |ff|
            = render partial: 'comfy/admin/api_actions/form', locals: {index: ff.index, resource: ff.object, type: subclass }
        %a.btn.btn-primary.text-white{onclick: "appendApiActionForm('#{subclass}')"}
          %i.fa.fa-plus

  .actions
    = f.submit 'Save'

:javascript
  function toggleApiActionFields(index, type) {
    var fieldType = $("#action_type_field_" + type + '_' + index).val();
    hideAllFields(index, type)
    if (fieldType === 'send_email') {
      $("#send_email_fields_" + type + '_' + index).show();
      $("#send_email_fields_" + type + '_' + index).parents('.card').find('.extra-details').show();
    } else if (fieldType === 'redirect') {
      $("#redirect_fields_" + type + '_' + index).show();
      if ($('#api_namespace_' + type + '_attributes_' + index + '_redirect_type_dynamic_url').is(':checked')) {
        $("#redirect_fields_" + type + '_' + index).parents('.card').find('.extra-details').show();
        $("#redirect_fields_" + type + '_' + index).parents('.card').find('.extra-details').find('.non-redirect-fields-guide').hide();
        $("#redirect_fields_" + type + '_' + index).parents('.card').find('.extra-details').find('.redirect-field-guide').show();
      }
    } else if (fieldType === 'serve_file') {
      $("#serve_file_fields_" + type + '_' + index).show();
    } else if (fieldType === 'send_web_request') {
      $("#serve_web_request_fields_" + type + '_' + index).show();
      $("#serve_web_request_fields_" + type + '_' + index).parents('.card').find('.extra-details').show();
    }
  }

  function hideAllFields(index, type) {
    $("#send_email_fields_" + type + '_' + index).hide();
    $("#redirect_fields_" + type + '_'  + index).hide();
    $("#serve_file_fields_" + type + '_' + index).hide();
    $("#serve_web_request_fields_" + type + '_' + index).hide();

    // Hiding the extra-details section and resetting the inline-documentation part.
    // The parent of all fields (send-email/redirect/send-web-request/serve-file) is same.
    $("#serve_web_request_fields_" + type + '_' + index).parents('.card').find('.extra-details').hide();
    $("#serve_web_request_fields_" + type + '_' + index).parents('.card').find('.extra-details').find('.non-redirect-fields-guide').show();
    $("#serve_web_request_fields_" + type + '_' + index).parents('.card').find('.extra-details').find('.redirect-field-guide').hide();
  }

  function removeForm(form_id, destroy_field_id) {
    $("#" + form_id).hide();
    $("#" + destroy_field_id).val(true)
  }

  function appendApiActionForm(type) {
    var index = $("#" + `${type}_forms > .form-container`).length
    var url = "#{new_api_action_path()}" + `?index=${index}&type=${type}` 
    $.ajax({
      url: url ,
      type: 'GET',
      dataType: 'script',
      contentType: "application/html",
      success: function(response) {}
    });
  }
  