.page-header.mb-5
  .h2
    = @api_namespace.name.pluralize
    > API Actions
    > Workflow

= form_for @api_namespace, method: :patch, url: api_action_workflow_api_namespace_path(@api_namespace), html: {multipart: true} do |f|
  - if @api_namespace.errors.any?
    #error_explanation
      %h2= "#{pluralize(@api_namespace.errors.count, "error")} prohibited this api_namespace from being saved:"
      %ul
        - @api_namespace.errors.full_messages.each do |message|
          %li= message
  .api_actions.my-4
    - ApiAction.children.each do |subclass|
      .mb-5
        .h5.mb-3
          Trigger Event:
          = subclass.split('_api_actions').first
        .form-group{id: "#{subclass}_forms", class: "js-sortable"}
          = f.fields_for subclass, @api_namespace.send(subclass) do |ff|
            = render partial: 'comfy/admin/api_actions/form', locals: {index: ff.index, resource: ff.object, type: subclass }
        - if has_access_to_api_accessibility?(ApiNamespace::API_ACCESSIBILITIES[:full_access_for_api_actions_only], current_user, @api_namespace)
          %a.btn.btn-primary.text-white{onclick: "appendApiActionForm('#{subclass}')", 'data-action-workflow': 'add-new-api-action-form'}
            %i.fa.fa-plus

  .actions
    = f.submit 'Save'

:javascript
  const guideClassNames = ['.send-email-guide', '.send-web-request-guide', '.redirect-field-guide', '.custom-action-field-guide'];

  function toggleApiActionFields(index, type) {
    var fieldType = $("#action_type_field_" + type + '_' + index).val();
    hideAllFields(index, type)
    if (fieldType === 'send_email') {
      $("#send_email_fields_" + type + '_' + index).show();
      manageRelatedExtraDetails($("#send_email_fields_" + type + '_' + index), '.send-email-guide');
    } else if (fieldType === 'redirect') {
      $("#redirect_fields_" + type + '_' + index).show();
      if ($('#api_namespace_' + type + '_attributes_' + index + '_redirect_type_dynamic_url').is(':checked')) {
        manageRelatedExtraDetails($("#redirect_fields_" + type + '_' + index), '.redirect-field-guide');
      }
    } else if (fieldType === 'serve_file') {
      $("#serve_file_fields_" + type + '_' + index).show();
    } else if (fieldType === 'send_web_request') {
      $("#serve_web_request_fields_" + type + '_' + index).show();
      manageRelatedExtraDetails($("#serve_web_request_fields_" + type + '_' + index), '.send-web-request-guide');
    } else if (fieldType === 'custom_action') {
      $("#custom_action_fields_" + type + '_' + index).show();
      manageRelatedExtraDetails($("#custom_action_fields_" + type + '_' + index), '.custom-action-field-guide');
    }
  }

  function hideAllFields(index, type) {
    $("#send_email_fields_" + type + '_' + index).hide();
    $("#redirect_fields_" + type + '_'  + index).hide();
    $("#serve_file_fields_" + type + '_' + index).hide();
    $("#serve_web_request_fields_" + type + '_' + index).hide();
    $("#custom_action_fields_" + type + '_' + index).hide();

    // Hiding the extra-details section.
    // The parent of all fields (send-email/redirect/send-web-request/serve-file) is same.
    manageRelatedExtraDetails($("#serve_web_request_fields_" + type + '_' + index), '.send-web-request-guide', false)
  }

  function removeForm(form_id, destroy_field_id) {
    $("#" + form_id).hide();
    $("#" + destroy_field_id).val(true)
  }

  function appendApiActionForm(type) {
    var index = $("#" + `${type}_forms > .form-container`).length
    var url = "#{new_api_namespace_api_action_path(api_namespace_id: @api_namespace.id)}" + `?index=${index}&type=${type}`
    $.ajax({
      url: url ,
      type: 'GET',
      dataType: 'script',
      contentType: "application/html",
      success: function(response) {}
    });
  }

  function manageRelatedExtraDetails(element, actionType, show = true) {
    if (show) {
      $(element).parents('.card').find('.extra-details').show();

      // Showing the required guide according to actionType
      guideClassNames.forEach(function(className) {
        if (actionType == className) {
          $(element).parents('.card').find('.extra-details').find(className).show();
        } else {
          $(element).parents('.card').find('.extra-details').find(className).hide();
        }
      });
    } else {
      $(element).parents('.card').find('.extra-details').hide();
    }
  }
  
