<% @body_id = 'cart' %>

<article class="cart-page">
  <% if @order.line_items.empty? %>
    <%= render 'carts/cart_empty' %>
  <% else %>
    <%= form_for @order, url: cart_path, html: {id: 'update-cart'} do |order_form| %>
      <% order = order_form.object %>
      <%= render 'carts/cart_header', order_form: order_form %>
      <%= render 'shared/error_messages', target: order %>
      <%= render 'carts/cart_items', order_form: order_form %>
      <%= render 'carts/cart_footer', order_form: order_form %>
    <% end %>

    <div class="cart-page__other-actions">
      <%= render 'carts/cart_secondary_actions' %>

      <div class="cart-page__coupon-code">
        <%= render 'orders/coupon_code' %>
      </div>
    </div>
  <% end %>
</article>
