%li{class: 'nav-item'}
  = active_link_to "Users", admin_users_path, class: 'nav-link'
  = active_link_to "Email", mailbox_path, class: 'nav-link'
  = link_to "Web Settings", edit_web_settings_path, class: 'nav-link'
  = link_to "Blog", '/blog', class: 'nav-link', target: '_blank'
  = link_to "Forum", '/forum', class: 'nav-link', target: '_blank'
  = link_to "Logout", destroy_user_session_path, class: 'nav-link text-danger', method: :delete
