.page-header
  .d-flex.my-2.justify-content-between.align-items-center
    .h2.mb-0
      Sales Collateral
    = link_to 'Sales Collateral Builder', sales_collateral_index_path, role: 'button', class: 'btn btn-primary'

.card
  .card-header
    %strong
      Info
  .card-body
    .form-group.card.p-2
      %label
        HTML title:
        %p.mt-2
          = Subdomain.current.html_title
    .form-group.card.p-2
      %label
        SEO description:
        %p.mt-2  
          = Subdomain.current.description
    .form-group.card.p-2
      %label
        SEO keywords:
        %p.mt-2
          = Subdomain.current.keywords



.card.my-5
  .card-header
    %strong
      Graphics
  .card-body
    .form-group.card.p-2
      %label
        Company logo: 
      .m-2
        = render_logo(Subdomain.current)

    .form-group.card.p-2
      %label
        Favicon: 
      .m-2
        = render_favicon(Subdomain.current)

    .form-group.card.p-2
      %label
        open-graph image: 
      .m-2
        = render_og_image(Subdomain.current)


.card.my-5
  .card-header
    %strong
      Inbound
  .card-body
    .form-group
      %label
        Website:
      .m-2
        = @website
    .form-group
      %label
        Email:
      .m-2
        = @email
    .form-group
      %label
        QR Code:
      .m-2
        = image_tag(Subdomain.current.qr_code)

.card.my-5
  .card-header
    %strong
      Community
  .card-body
    .form-group
      %label
        Forum:
      .m-2
        = "Coming Soon!"

.card.my-5
  .card-header
    %strong
      Publications
  .card-body
    .form-group
      %label
        From the company archives:
      .m-2
        = "Coming Soon!"
