<div class="page-header">
  <div class="h2">
    Video Rooms
  </div>
  <p>Early access, feature under active development</p>
</div>

<%= form_for @room, url: rooms_path do |form| %>
  <div>
    <%= form.label "Room owner broadcast (spectators only)" %>
    <%= form.check_box :owner_broadcast_only, checked: false %>
  </div>
  <div>
    <%= form.label "Require authentication (no visitors)" %>
    <%= form.check_box :require_authentication, checked: false %>
  </div>
  <div>
    <%= form.submit 'Create Room', class: 'btn btn-primary' %>
  </div>
<% end %>