<%= turbo_stream_from @room %>
<%= turbo_stream_from @client.id %>

<p>Room ID: <%= @room.id %></p>

<article
  class="room"
  data-controller="room"
  data-room-id-value="<%= @room.id %>"
  data-room-client-id-value="<%= @client.id %>"
>
  <div class="media" id="media">
    <div class="medium medium--local" data-controller="medium">
      <div>
        <video data-room-target="localMedium" data-medium-target="mediaElement" muted autoplay playsinline></video>
      </div>
      <% if @user %>
        <div>
          <p><%= @user.name %></p>
        </div>
      <% end %>
      <div class="medium-actions">
        <div class="enter" data-room-target="enter">
          <%= label_tag "enable video?" %>
          <%= check_box_tag :allowVideo, true %>
          <%= label_tag "enable audio?" %>
          <%= check_box_tag :allowAudio, true %>
          <%= button_tag 'Enter',  data: { action: 'room#enter' }, class: 'btn btn-primary d-block' %>
        </div>
      </div>
    </div>
  </div>
</article>
