%h1 Listing api_clients

%table
  %thead
    %tr
      %th Api namespace
      %th Label
      %th Authentication strategy
      %th
      %th
      %th

  %tbody
    - @api_clients.each do |api_client|
      %tr
        %td= api_client.api_namespace.name
        %td= api_client.label
        %td= api_client.authentication_strategy
        %td= link_to 'Show', api_namespace_api_client_path(api_namespace_id: api_client.api_namespace.id, id: api_client.id)
        %td= link_to 'Edit', edit_api_namespace_api_client_path(api_namespace_id: api_client.api_namespace.id, id: api_client.id)
        %td= link_to 'Destroy', api_namespace_api_client_path(api_namespace_id: api_client.api_namespace.id, id: api_client.id), method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Api client', new_api_namespace_api_client_path
