- read_only = false if local_assigns[:read_only].nil?
- non_primitive_properties = api_resource.persisted? ? api_resource.non_primitive_properties : api_resource.api_namespace.non_primitive_properties
#jsoneditor  
= hidden_field_tag :api_namespace_properties, api_resource.api_namespace.properties.to_json
= hidden_field_tag "api_resource[properties]", api_resource.properties&.to_json
- unless read_only
  - non_primitive_properties.each_with_index do |property, index|
    = fields_for "api_resource[non_primitive_properties_attributes][#{index}]", property do |ff|
      .form-group{class: "#{'disable-trix-file-attachment' unless ff.object.allow_attachments}"}
        = label_tag property.label
        .my-2
          - if property.file?
            = show_file(property.attachment, property.label)
        = map_non_primitive_data_type(ff, property.field_type, form_properties, is_edit)
      = ff.hidden_field :field_type
      = ff.hidden_field :label
      = ff.hidden_field :allow_attachments
      = ff.hidden_field :id ,{ value: property.id } if property.id && is_edit
- else
  .my-3
    %b.mb-2.d-block Non-primitive Properties
    - api_resource.non_primitive_properties.each do |prop|
      .mb-3
        %div
          = "#{prop.label}:"
        %div
          - if prop.file?
            = show_file(prop.attachment, prop.label)
          - else
            %div
              = render html: prop.content.to_s.html_safe