= form_for @api_namespace do |f|
  - if @api_namespace.errors.any?
    #error_explanation
      %h2= "#{pluralize(@api_namespace.errors.count, "error")} prohibited this api_namespace from being saved:"
      %ul
        - @api_namespace.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :version
    = f.number_field :version
  #jsoneditor
  = f.hidden_field :properties
  .field
    = f.label :requires_authentication
    = f.check_box :requires_authentication
  .field
    = f.label :namespace_type
    = f.text_field :namespace_type
  .actions
    = f.submit 'Save'


:javascript
  // create the editor
  const container = document.getElementById("jsoneditor")
  const options = {onChange: () => { setFields() } }
  const editor = new JSONEditor(container, options)

  // set json
  const initialJson = {
      "Array": [1, 2, 3],
      "Boolean": true,
      "Null": null,
      "Number": 123,
      "Object": {"a": "b", "c": "d"},
      "String": "Hello World"
  }
  editor.set(initialJson)
  setFields()
  
  function setFields() {
    str = JSON.stringify(editor.get())
    $("#api_namespace_properties").val(str)
  }
  // get json
  const updatedJson = editor.get()

