%div
  %p
    %b Requires authentication:
    = api_namespace.requires_authentication
  %p
    %b Namespace type:
    = api_namespace.namespace_type

  .card.bg-white
    .card-body
      = render partial: 'rest_interface', locals: { api_namespace: api_namespace } 

    .card-body
      %h4
        Graph Interface
      %strong
        Request description endpoint:
      %p
        GET
      %pre
        = "#{graphql_base_url(Subdomain.current, api_namespace)}/describe"

      %strong
        Request query endpoint:
      %p
        POST
      %pre
        = "#{graphql_base_url(Subdomain.current, api_namespace)}"
      %p
        Payload (this)
      %pre
        = "query: { apiNamespaces(slug: \"#{api_namespace.slug}\") { id } }"
      %p
        Payload (this + children)
      %pre
        = "query: { apiNamespaces(slug: \"#{api_namespace.slug}\") { id apiResources { id } } }"
      %p
        Payload (global)
      %pre
        = "query: { apiNamespaces { id } }"

    .card-body
      %h4
        Webhook
      .table-responsive
        %table
          %thead
            %tr
              %th.px-3 API Connection
              %th.px-3 HTTP method
              %th.px-3 Webhook Interface
              %th.px-3 Verification Method
          %tbody
            - api_namespace.external_api_clients.where(drive_strategy: ExternalApiClient::DRIVE_STRATEGIES[:webhook]).each do |external_api_client|
              %tr
                %td.px-3= link_to external_api_client.label, api_namespace_external_api_client_path(api_namespace_id: external_api_client.api_namespace.id, id: external_api_client.id)
                %td.px-3 POST
                %td.px-3= api_external_api_client_webhook_url(version: external_api_client.api_namespace.version, api_namespace: external_api_client.api_namespace.slug, external_api_client: external_api_client.slug)
                %td.px-3= external_api_client.webhook_verification_method&.webhook_type