= search_form_for objects, url: path do |f|
  .form-group
    = f.label "Name", class: 'col-form-label'
    = f.search_field :properties_cont, value: params[:q][:name_cont], class: 'form-control'
    .text-center
      = f.submit class: 'btn btn-primary my-2'
      = link_to "Clear Search", request.path, class:"cancel-button"