- content_for :right_column do
  = render "comfy/admin/cms/categories/index", type: "ApiNamespace"

.page-header
  = link_to 'New Namespace', new_api_namespace_path, class: 'btn btn-secondary float-right'
  = link_to 'Api Keys', api_keys_path, class: 'btn btn-secondary float-right mr-3'
  %h2 API Namespaces
= render partial: 'search_filters', locals: { objects: @api_namespaces_q, path: api_namespaces_path }
= render partial: 'pagination', locals: { objects: @api_namespaces }
%table.table.table-responsive
  %thead
    %tr
      %th 
        = sort_link @api_namespaces_q, :name
      %th
        = sort_link @api_namespaces_q, :version
      %th 
        = sort_link @api_namespaces_q, :properties
      %th 
        = sort_link @api_namespaces_q, :requires_authentication
      %th 
        = sort_link @api_namespaces_q, :namespace_type
      %th 
        = 'Snippet'
      %th
      %th


  %tbody
    - @api_namespaces.each do |api_namespace|
      %tr
        %td
          = link_to api_namespace.name, api_namespace
          .item-categories
            = render "comfy/admin/cms/categories/categories", object: api_namespace
        %td= api_namespace.version
        %td= api_namespace.properties
        %td= api_namespace.requires_authentication
        %td= api_namespace.namespace_type
        %td= "{{ cms:helper render_form, #{api_namespace.api_form.id} }}" if api_namespace.api_form.present?
        %td= link_to 'Edit', edit_api_namespace_path(api_namespace)
        %td= link_to 'Destroy', api_namespace, method: :delete, data: { confirm: 'Are you sure?' }

%br


