.page-header.mb-5.d-lg-flex.justify-content-between.align-items-center
  .h1
    New API Namespace
  = form_with(url: import_as_json_api_namespaces_path, method: :post, multipart: true, class: 'my-lg-2 mt-5 mb-1') do
    = file_field_tag 'file', class: 'd-block mb-2', required: true , style: 'max-width: 220px;'
    = submit_tag('Import JSON', class: 'btn btn-primary btn-sm')

= render 'form'

= link_to 'Back', api_namespaces_path
