.page-header
  .h2
    = link_to 'Email Templates', mailbox_email_templates_path
.container.my-2
  = label_tag "name"
  = text_field_tag "name", @email_template.name, id: 'email_template_name'
.container.my-2
  = label_tag "Slug: "
  = @email_template.slug
.container
  #VioletEmailEditor

%button#VioletEmailEditorSubmit
  = "Save"

:javascript
  let template = "#{escape_javascript(@email_template.template)}"
  let id = "#{@email_template.id}"
  const app = Revolvapp('#VioletEmailEditor', {
    editor: {
      path: '/revolvapp-2-3-10/',   
    },
    content: template
  });
  app.start()

  $('#VioletEmailEditorSubmit').click(function() {
    $("#VioletEmailEditorSubmit").prop("disabled", true)
    let authenticityToken = $('meta[name="csrf-token"]').attr('content');

    let htmldoc = app.editor.getHtml()
    let redoc = app.editor.getTemplate(true)
    let name = $('#email_template_name').val()
    const endpoint = "#{mailbox_email_template_path}"

    if (name && htmldoc) {
      $.ajax({
        url: endpoint,
        type: 'PATCH',
        headers: {
            'X-CSRF-Token': authenticityToken
        },
        data: JSON.stringify({ htmldoc: htmldoc, redoc: redoc, name: name, id: id }),
        contentType: "application/json; charset=utf-8",
        success: function(response) {
          window.location.href = `${endpoint}/${response.id}/edit`
          window.location.reload()
        }
      });
    } else {
      window.alert('Please give your template a name and set its content')
    }

    $("#VioletEmailEditorSubmit").prop("disabled", false)
  });