.page-header
  .h2
    = 'Email Templates'
  .container.m-2
    .h3
      = "Docs:"
    %a{href: "https://imperavi.com/legacy/revolvapp/docs/syntax/tags/", target: '_blank'}
      Imperavi Revolvapp
  .container.m-2
    .h3
      = "AI prompt:"
    .p
      = "this is re-html, used by revolvapp,"
    .p
      = "... copy pasted editor code"
    .p
      = "using the above markup language create me a..."
.container.my-2
  = label_tag "name"
  = text_field_tag "name", nil, id: 'email_template_name'

.container
  #VioletEmailEditor

%button#VioletEmailEditorSubmit.btn.btn-primary.my-2
  = "Save"

:javascript
  const app = Revolvapp('#VioletEmailEditor', {
    editor: {
      path: '/revolvapp-2-3-10/',
      template: '/revolvapp-2-3-10/templates/index.html',
    }
  });

  $('#VioletEmailEditorSubmit').click(function() {
    $("#VioletEmailEditorSubmit").prop("disabled", true)
    let authenticityToken = $('meta[name="csrf-token"]').attr('content');

    let htmldoc = app.editor.getHtml()
    let redoc = app.editor.getTemplate(true)
    let name = $('#email_template_name').val()
    const endpoint = "#{mailbox_email_templates_path}"
    if (name && htmldoc) {
      $.ajax({
        url: endpoint,
        type: 'POST',
        headers: {
            'X-CSRF-Token': authenticityToken
        },
        data: JSON.stringify({ htmldoc: btoa(htmldoc), redoc: redoc, name: name }),
        contentType: "application/json; charset=utf-8",
        success: function(response) {
          window.location.href = `${endpoint}/${response.id}/edit`
        }
      });
    } else {
      window.alert('Please give your template a name and set its content')
    }

    $("#VioletEmailEditorSubmit").prop("disabled", false)
  });