<%
  paginated_products = @searcher.retrieve_products if params.key?(:keywords)
  paginated_products ||= products
  no_products_found = products.empty?
%>

<% content_for :head do %>
  <% if paginated_products.respond_to?(:total_pages) %>
    <%= rel_next_prev_link_tags paginated_products %>
  <% end %>
<% end %>

<% if no_products_found %>
  <h2 class="products__results-title">
    <%= t('spree.no_products_found') %>
  </h2>
<% elsif params.key?(:keywords) %>
  <h1 class="products__results-title">
    <%= t('spree.search_results', keywords: h(params[:keywords])) %>
  </h1>
<% end %>

<% if !no_products_found %>
  <%= render 'products/products-grid', products: products %>
<% end %>

<% if paginated_products.respond_to?(:total_pages) %>
  <%= paginate paginated_products %>
<% end %>
