<div class="products">
  <aside>
    <% if "products" == params[:controller] && @taxon %>
      <%= render 'shared/search/filters', taxon: @taxon %>
    <% else %>
      <%= render 'shared/navigation/taxonomies', taxon: @taxon %>
    <% end %>
  </aside>
  <section class="products_section">
    <% if params[:keywords] %>
      <% if @products.empty? %>
        <h6>
          <%= t('spree.no_products_found') %>
        </h6>
      <% else %>
        <%= render 'products', products: @products, taxon: @taxon %>
      <% end %>
    <% else %>
      <%= render 'products', products: @products, taxon: @taxon %>
    <% end %>
  </section>
</div>
