<% @body_id = 'product-details' %>

<% cache [I18n.locale, current_pricing_options, @product] do %>
  <article class="product-page" itemscope itemtype="http://schema.org/Product">
    <div class="product-page-row">
      <div class="product-page__images">
        <%= render 'product_image', product: @product %>
        <%= render 'product_thumbnails', product: @product %>
      </div>

      <div class="product-page__info">
        <%= render 'product_header', product: @product %>
        <%= render 'product_promotions', product: @product %>
        <%= render 'cart_line_items/form', product: @product %>
        <%= render 'product_taxons', product: @product %>
      </div>
    </div>

    <div class="product-page-row">
      <%= render 'product_info', product: @product %>
      <%= render 'product_properties', product_properties: @product_properties %>
    </div>
  </article>
<% end %>
