%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  = link_to "Violet", root_url, class: 'navbar-brand'
  %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      %li.nav-item
        = active_link_to "Subdomain Requests", admin_subdomain_requests_url, class: 'nav-link'
      %li.nav-item
      = active_link_to "Subdomains", admin_subdomains_url, class: 'nav-link'
      %li.nav-item
      = active_link_to "Sidekiq", admin_sidekiq_web_url, class: 'nav-link'
      %li.nav-item.dropdown
        %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          = current_user.email
        .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
          .dropdown-divider
          = link_to "logout", global_login_url, method: :delete, class: 'dropdown-item text-danger'