!!!
%html{lang: I18n.locale}
  = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
  = javascript_pack_tag 'trix'
  = javascript_pack_tag 'select2'
  = render 'layouts/comfy/admin/cms/head'
  = render 'layouts/comfy/admin/cms/body'