%h1 Listing External API Connections

%table
  %thead
    %tr
      %th Label
      %th Slug
      %th Active
      %th Drive Strategy
      %th Max Requests / Minute
      %th
      %th
      %th

  %tbody
    - @external_api_clients.each do |external_api_client|
      %tr
        %td= external_api_client.label
        %td= external_api_client.slug
        %td= external_api_client.enabled
        %td= external_api_client.drive_strategy
        %td= external_api_client.max_requests_per_minute
        %td= link_to 'Show', api_namespace_external_api_client_path(api_namespace_id: external_api_client.api_namespace.id, id: external_api_client.id)
        %td= link_to 'Edit', edit_api_namespace_external_api_client_path(api_namespace_id: external_api_client.api_namespace.id, id: external_api_client.id)
        %td= link_to 'Destroy', api_namespace_external_api_client_path(api_namespace_id: external_api_client.api_namespace.id, id: external_api_client.id), method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Api client', new_api_namespace_external_api_client_path
