.container-fluid.mt-5
  .d-flex.justify-content-between.py-2.page-header
    %h2
      =  @api_namespace.name.pluralize
      > External API Connections
  
  %table{class: 'table my-5 table-responsive'}
    %thead
      %tr
        %th.px-3 Label
        %th.px-3 Slug
        %th.px-3 Active
        %th.px-3 Drive Strategy
        %th.px-3
        %th.px-3

    %tbody
      - @external_api_clients.each do |external_api_client|
        %tr
          %td.px-3= link_to external_api_client.label, api_namespace_external_api_client_path(api_namespace_id: external_api_client.api_namespace.id, id: external_api_client.id)
          %td.px-3= external_api_client.slug
          %td.px-3= external_api_client.enabled
          %td.px-3= external_api_client.drive_strategy
          %td.px-3= link_to 'Edit', edit_api_namespace_external_api_client_path(api_namespace_id: external_api_client.api_namespace.id, id: external_api_client.id)
          %td.px-3= link_to 'Destroy', api_namespace_external_api_client_path(api_namespace_id: external_api_client.api_namespace.id, id: external_api_client.id), method: :delete, data: { confirm: 'Are you sure?' }

  %br

  = link_to 'New External API Connection', new_api_namespace_external_api_client_path
