!!!
%html
  %head
    %title Global Admin
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    - flash.each do |key, value|
      %div{:class => "alert alert-#{key}"}
        %a.close{"data-dismiss" => "alert", :href => "#"} ×
        %ul
          %li
            = value
    = render partial: 'admin/shared/navbar'
    .container.mt-5
      = yield