<!DOCTYPE html>
<html>
  <head>
    <title><%= Apartment::Tenant.current %> Admin</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbo-track': 'reload' %>


  </head>
  <%= render partial: 'shared/flash' %>
  <body>
    <%= yield %>
  </body>
</html>
