<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title><%= html_title(Subdomain.current) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% if @cms_site && @cms_layout %>
      <%= stylesheet_link_tag comfy_cms_render_css_path(@cms_site.id, @cms_layout.identifier) %>
      <%= javascript_include_tag comfy_cms_render_js_path(@cms_site.id, @cms_layout.identifier) %>
    <% end %>
    <%= render partial: 'shared/favicons' %>
    <%= render partial: 'shared/meta_tags' %>
  </head>
  <%= render partial: 'shared/flash' %>
  <%= render partial: 'shared/navbars/web_admin' %>

  <body>
    <%= yield %>
  </body>
</html>
