= form_for @call_to_action do |f|
  - if @call_to_action.errors.any?
    #error_explanation
      %h2= "#{pluralize(@call_to_action.errors.count, "error")} prohibited this call_to_action from being saved:"
      %ul
        - @call_to_action.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :cta_type
    = f.select :cta_type, options_for_select(CallToAction::ACTION_TYPES, @call_to_action.cta_type)
  .field
    = f.label :success_message
    = f.text_field :success_message
  .field
    = f.label :failure_message
    = f.text_field :failure_message
  - if @call_to_action.cta_type == CallToAction::ACTION_TYPES[:contact_us]
    .field
      = f.label :name_label
      = f.text_field :name_label
    .field
      = f.label :name_placeholder
      = f.text_field :name_placeholder
    .field
      = f.label :phone_placeholder
      = f.text_field :phone_placeholder
    .field
      = f.label :phone_label
      = f.text_field :phone_label
    .field
      = f.label :message_label
      = f.text_field :message_label
    .field
      = f.label :message_placeholder
      = f.text_field :message_placeholder
  .field
    = f.label :email_label
    = f.text_field :email_label
  .field
    = f.label :email_placeholder
    = f.text_field :email_placeholder
  .actions
    = f.submit 'Save'
