= form_for @call_to_action, url: respond_call_to_action_path(@call_to_action), method: :post do |f|
  = recaptcha_tags
  = f.fields_for @call_to_action_response do |f|
    - case @call_to_action.cta_type
      - when "contact-us"
        = render partial: 'comfy/admin/call_to_actions/cta_types/contact_us', locals: { f: f }
      - when "collect-email"
        = render partial: 'comfy/admin/call_to_actions/cta_types/collect_email', locals: { f: f }
      

