%p#notice= notice
.my-5
  %p
    %b ID:
    = @call_to_action.id
  %p
    %b Title:
    = @call_to_action.title
  %p
    %b Cta type:
    = @call_to_action.cta_type
  %p
    %b Cta responses:
    = @call_to_action_responses.size
  %p
    %b Preview (outer border is present in preview only):
  .card.p-3
    = render_call_to_action @call_to_action.id

= render partial: 'pagination', locals: { objects: @call_to_action_responses }
%table.table.table-responsive
  %thead
    %tr
      %th 
        = sort_link @call_to_action_responses_q, :properties
      %th
        = sort_link @call_to_action_responses_q, :created_at
  %tbody
    - @call_to_action_responses.each do |call_to_action_response|
      %tr
        %td= call_to_action_response.properties
        %td= call_to_action_response.created_at



= link_to 'Edit', edit_call_to_action_path(@call_to_action)
\|
= link_to 'Back', call_to_actions_path
