<div class="payment-step">
  <fieldset class="payment-step__payment">
    <legend>
      <%= t('spree.payment_information') %>
    </legend>

    <%= render 'checkouts/steps/payment_step/payment_method_selector', methods: @order.available_payment_methods %>
    <%= render 'checkouts/steps/payment_step/payment_method_controls', methods: @order.available_payment_methods %>

    <% if @wallet_payment_sources.present? %>
      <%= render 'checkouts/steps/payment_step/existing_cards', wallet_payment_sources: @wallet_payment_sources %>
    <% end %>
  </fieldset>

  <%= button_tag(
    I18n.t("spree.save_and_continue"),
    class: 'button-primary',
    name: :commit
  ) %>
</div>

<script>
  Solidus.disableSaveOnClick();
</script>
