<h2 id="register_header">Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put , id: 'edit_user' }, data: { turbo: false , remote: true}) do |f| %>
 <div id="error_msg"> 
 
 </div>
  <div id="main-div">
  <div class="form-group">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: false %>
  </div>

  <div class="form-group">
    <%= f.label :avatar %><br />
    <%= f.file_field :avatar, class: 'form-control-file' %>
    <% if current_user.avatar.attached? %>
      <%= render_custom_avatar(current_user) %>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :session_timeoutable_in %><br />
    <% current_timeout = User::SESSION_TIMEOUT.detect{|n| n[:slug] == current_user.session_timeoutable_in } %>
    <%= f.select :session_timeoutable_in, options_for_select(User::SESSION_TIMEOUT.map{|hash| [ hash[:label], hash[:slug] ] }, [current_timeout[:label], current_timeout[:slug]] ) %>
  </div>

  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="form-group">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="form-group border p-2">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

 </div>
    <div id="otp" class="form-group border p-2 " style="visibility: hidden;display: none">
    <%= f.label :otp_attempt %><br />
    <%= f.text_field :otp_attempt %>
  </div>

   <div class="actions" >
    <%= f.button 'Update' ,class: 'btn btn-success',id: 'update-btn'  %>
  </div>
<% end %>
<%= button_to 'Re-send OTP' ,resend_otp_path, method: :get, remote: true, class: 'btn btn-primary mt-2',id: 'resend-otp-btn', style: "visibility: hidden;display: none"  %>

<h3>Cancel my account</h3>

<p>Unhappy? Please contact your administrator to request your account be removed</p>

<%= link_to "Back", :back %>
